<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="axios.js"></script>
    <script src="vue.js"></script>
    <script src="index.js"></script>
    <link rel="stylesheet" href="index.css">
    <style>
    </style>
</head>
<body>
<div id="app">
<!--    <el-tabs type="border-card" @tab-click="run" v-model="as">-->
<!--        <el-tab-pane >-->
<!--            <span slot="label" v-model="" ><i class="el-icon-date"></i> 我的行程</span>-->
<!--            我的行程-->
<!--        </el-tab-pane>-->
<!--        <el-tab-pane label="消息中心">消息中心</el-tab-pane>-->
<!--        <el-tab-pane label="角色管理">角色管理</el-tab-pane>-->
<!--        <el-tab-pane label="定时任务补偿">定时任务补偿</el-tab-pane>-->
<!--    </el-tabs>-->
<!--    <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" >-->
<!--        <el-menu-item index="1" @click="run1()" >首页</el-menu-item>-->
<!--        <el-menu-item index="2" @click="run2()" >个人中心</el-menu-item>-->
<!--        <el-menu-item index="3" @click="run3()" >文章</el-menu-item>-->
<!--        <el-menu-item index="4" @click="run4()" >订单管理</el-menu-item>-->
<!--        <el-menu-item index="5" @click="run4()" >-->
<!--            <el-input v-model="input" placeholder="请输入内容">-->
<!--            </el-input>-->
<!--            <el-button  round>搜索</el-button>-->
<!--        </el-menu-item>-->

<!--    </el-menu>-->
<!--    <el-container>-->
<!--        <el-container>-->
<!--            <el-aside width="200px">Aside</el-aside>-->
<!--            <el-main>-->
<!--&lt;!&ndash;       按钮列表   &ndash;&gt;-->
<!--                <template>-->
<!--                    <el-button type="warning" type="text" @click="BulkDeletion">批量删除</el-button>-->
<!--                </template>-->
<!--                <el-button type="primary" @click="dialogFormVisible = true" round >新增</el-button>-->
<!--&lt;!&ndash;                弹出框&ndash;&gt;-->
<!--                <el-dialog title="" :visible.sync="dialogFormVisible">-->
<!--                <el-container>-->
<!--                    <el-header align="center">-->
<!--                        <el-input v-model="newArticleName" placeholder="请输入标题" ></el-input>-->
<!--                    </el-header>-->
<!--                    <el-main>-->
<!--                        正文：-->
<!--                        <el-input-->
<!--                                type="textarea"-->
<!--                                placeholder="请输入内容"-->
<!--                                :rows="20"-->
<!--                                v-model="newArticle"-->
<!--                                placeholder="    ">-->
<!--                        </el-input>-->
<!--                    </el-main>-->
<!--                    <el-footer align="right">-->
<!--                        <el-button type="primary" round >确认发布</el-button>-->
<!--                    </el-footer>-->
<!--                </el-container>-->




<!--                </el-dialog>-->

<!--&lt;!&ndash; 作品列表 &ndash;&gt;-->


                <template >
                    <el-table @row-click="run"
                              :data="tableData"
                              style="width: 100%"
                              :default-sort = "{prop: 'date', order: 'descending'}"
                              ref="multipleTable"
                              :data="tableData"
                              tooltip-effect="dark"
                              style="width: 100%"
                              @selection-change="handleSelectionChange"

                    >
                        <el-table-column
                                type="selection"
                                width="55" >
                        </el-table-column>
                        <el-table-column @cell-click="run"
                                prop="articleName"
                                label="作品名称"
                                sortable
                                align="center"
                                width="180">
                        </el-table-column>
                        <el-table-column
                                prop="authorName"
                                label="作者"
                                align="center"
                                sortable
                                width="180">
                        </el-table-column>
                        <el-table-column
                                prop="date"
                                label="发布时间"
                                align="center"
                                :formatter="formatter">
                        </el-table-column>
                        <el-table-column
                                label="操作"
                                align="center"
                                >
                            <el-button size="mini">收藏</el-button>
                            <el-button size="mini" >删除</el-button>
                        </el-table-column>
                    </el-table>
                </template>

            </el-main>
        </el-container>
    </el-container>
</div>
<script>
    new Vue({

        el:"#app",
        data(){
            return {
                as:['1'],
                activeIndex: '3',
                input:'',
                multipleSelection: [],
                tableData: [{
                    articleName:'百年',
                    authorName: '王小虎',
                    date: '2016-05-02'
                },
                    {
                        articleName:'百年',
                        authorName: '王小虎',
                        date: '2016-05-02'
                    },
                    {
                        articleName:'百年',
                        authorName: '王小虎',
                        date: '2016-05-02'
                    },

                ],
                dialogFormVisible: false,
                newArticleName:'',
                newArticle:''


            };
        },
        mounted(){

        },
        methods:{
            handleSelect(key, keyPath){
                console.log(key, keyPath);
            },
            handleSelectionChange(val) {
                this.multipleSelection = val;
                console.log(this.multipleSelection)
            },
           /**
            * 删除
            */
           Deletion(){

           },
            /**
             * 批量删除
             *
             */

            BulkDeletion() {
                if (this.multipleSelection.length !== 0) {
                    this.$confirm('此操作将永久删除该文件, 是否继续?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        this.$message({
                            /**
                             * 确认后操作
                             */
                            type: 'success',
                            message: '删除成功!'
                        });
                    }).catch(() => {
                        this.$message({
                            type: 'info',
                            message: '已取消删除'
                        });
                    });
                } else {
                    this.$message(
                        {
                            type:'info',
                            message:'还没有选中'
                        }
                    )
                }
            }
            ,
            /**
             * 跳转
             */
            run(){
                alert(this.as)
                var a=this.as;
                if(a==1)
                {
                    alert("5");
                }
                if(a==2)
                {
                    alert("dsuh")
                }

            },
            run2(){


            },
            run3(){

            },
            run4(){

            },
        }
    })
</script>
</body>
</html>ml>